@charset "utf-8";
/* CSS Document */

#menu table{
	width:140px;
}
.menu a:active, .menu a:link, .menu a:visited{
	font-weight:bold;
	text-decoration:none;
	display: block;
	line-height:27px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
	padding-left:15px;
	padding-right:5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	color:#6F8F61;
}

.menu a:hover{
	display: block;
	color:#9AB48F;
	background-color: #FFF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #C6D5BF;
	border-bottom-color: #C6D5BF;
}

.menu b{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#9AB48F;
	font-weight: bold;
	text-decoration:none;
	display: block;
	line-height:27px;
	text-align:center;
	padding-left:6px;
	padding-right:6px;
	background-color: #FFF;
}
#container #menu2 table tr .menu2 a {
	height: 27px;
}
#menu table tr td a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
